.blanca
    .blanca__banner
        .blanca__banner_tabs(data-id="Biografía")
            .blanca__banner_bck
                picture
                    source(srcset="images/banner_4@1x_mobile.png" media="(max-width: 767px) and (orientation: portrait)")
                    source(srcset="images/banner_4@1x_mobile.png" media="(max-width: 767px) and (orientation: landscape)")
                    source(srcset="images/banner_4@1x.png" media="(min-width: 768px) and (max-width: 1000px)")
                    source(srcset="images/banner_4@2x.png" media="(min-width: 1001px) and (max-width: 1440px)")
                    source(srcset="images/banner_4@2x.png" media="(min-width: 1441px)")
                    img(src="images/banner_4@1x.png").picture
            .blanca__banner_text
                | Mi libertad descansa en cómo me relaciono con lo que ocurre en el momento

    .blanca__nav
        include ../extends/header

    .blanca__tab(data-id="Biografía")
        .blanca__content
            .blanca__tab_title Biografía
            .blanca__tab_subtitle 
            .blanca__tab_content
                p Blanca Pinto es facilitadora de autoconocimiento especializada en la psicología de los cambios de consciencia. Hizo investigación de campo y fundamental por más de 20 años, siguiendo el camino de la experiencia e inspirada por la búsqueda espiritual.
                p La esencia de su labor consiste en facilitar herramientas de trabajo sobre uno mismo, necesarias para comprender y manejar un conjunto de mecanismos psicológicos, mentales y de consciencia al servicio de la autotransformación.
                p Su propuesta ecléctica se alimenta de varias vertientes, como las técnicas de Imaginación Activa de la escuela Junguiana, recursos de autoayuda de la psicología transpersonal, así como de diversas prácticas de tradiciones antiguas y de nuevos enfoques de las neurociencias de la consciencia.
                
                .title Experiencia
                p Desde 1975 se dedicó a descubrir el significado de la vida, viviendo y trabajando con personas de diferentes culturas.

                p Agosto de 1975. Su punto de partida fue su despertar espiritual, producido por   una experiencia cercana la muerte. A partir de entonces dejó sus actividades convencionales para dedicarse a la investigación de experiencias psíquicas límites y su repercusión en los cambios de consciencia, la personalidad y el impacto en el entorno. Su recorrido empírico se inicia en compañía de maestros de tradiciones orientales, chamanes, e investigadores científicos de diversas disciplinas. Entra en contacto con el investigador científico Kenneth Ring de la Universidad de Connecticut.
                p De 1979 a 1991, vivió viajando por el interior del Perú y otros países de América del Sur, Centroamérica y Europa, observando los cambios individuales de consciencia y su relación con los fenómenos de masa crítica de la postmodernidad.
                p De 1987 a 1994, visitó por un periodo de siete años la Amazonía peruana para estudiar los primeros movimientos del proceso transcultural de la ingestión tradicional de Ayahuasca. Experimentó los efectos del consumo ritual de la medicina junto a curanderos empíricos, investigando sus alcances en los cambios de conciencia y sus influencias en el proceso perceptivo e interpretación de la realidad.
                p En julio de 1988, fue a Italia para participar en la investigación bioquímica de los principios activos de la Ayahuasca.
                p En 1994, concluyó que frente al creciente interés de personas de otras culturas por el consumo de la medicina, era necesario adaptar la forma de la costumbre tradicional de su ingestión a las necesidades existenciales de la psicología urbana actual. Con ese propósito, diseñó herramientas que orientan el impacto de la experiencia hacia el autoconocimiento y afianzamiento de la identidad.
                p De 1994 a 1998, al término de su búsqueda, sintió la necesidad de compartir los conocimientos adquiridos y sus experiencias acerca de la evolución de la consciencia. Convencida de que es posible mejorar la realidad del entorno en base a lograr cambios profundos al interior de la consciencia individual, realizó un trabajo experimental con personas jóvenes y adultas por un período de cuatro años.
                p En 1998, basada en el trabajo experimental, revisó y rediseñó un conjunto de herramientas y procedimientos que ejercen acción sobre la expansión de la consciencia y la reestructuración de la personalidad.
                p En octubre de 2003, fue invitada a México a impartir el Taller de Evolución Personal.
                p De 2004 a 2006, fue invitada a España a impartir el taller.
                p Actualmente trabaja en el Perú con personas interesadas en desarrollar su verdadero potencial como seres humanos creativos y en la preparación de un material que será próximamente publicado.

                .message 
                    p(style="color:#227733") "La tradición como enseñanza es un camino; como dogma, un obstáculo."
