.blanca
    .blanca__banner
        .blanca__banner_tabs(data-id="El Taller")
            .blanca__banner_bck
                picture
                    source(srcset="images/banner_2@1x_mobile.png" media="(max-width: 767px) and (orientation: portrait)")
                    source(srcset="images/banner_2@1x_mobile.png" media="(max-width: 767px) and (orientation: landscape)")
                    source(srcset="images/banner_2@1x.png" media="(min-width: 768px) and (max-width: 1000px)")
                    source(srcset="images/banner_2@2x.png" media="(min-width: 1001px) and (max-width: 1440px)")
                    source(srcset="images/banner_2@2x.png" media="(min-width: 1441px)")
                    img(src="images/banner_2@1x.png").picture
            .blanca__banner_text
                | Ser libre es un acto de permanente autobservación. #[br] La libertad no se crea, el ser humano es su propia libertad
       
    .blanca__nav
        include ../extends/header

    .blanca__tab(data-id="El Taller")
        .blanca__content
            .blanca__tab_title El Taller
            .blanca__tab_subtitle Los niveles de consciencia y la fisiología del ser
            .blanca__tab_content
                p Cada uno puede observar en sí mismo distintos niveles de consciencia que definen tres estados fisiológicos del ser: involutivo, revolutivo y evolutivo; y entre nosotros hay tres clases de seres, cada uno acorde con el estado fisiológico respectivo: El individuo común, el discípulo y el iniciado. 
                p El individuo común. Es alguien que, ante las circunstancias desagradables de la vida, solo atina a preguntarse: “¿Por qué me ocurre esto a mí?"                
                p El individuo discípulo. Es alguien que, ante las mismas circunstancias, aprende a preguntarse: “¿Para qué me ocurre esto a mí?”                
                p El individuo iniciado. Es quien, ante las dificultades de la vida, se cuestiona: “¿A quién le ocurre esto?”, “¿Qué estoy ‘siendo’ que me ocurre esto?”                
                p El cuestionamiento siempre encarna un mayor grado de organización y complejidad de nuestro pensamiento, un mayor grado de maduración de nuestra lógica y un mayor grado de correspondencia entre nuestro pensamiento y la realidad. Uno acepta un grado mayor de exigencia para que haya coherencia en el trabajo mental.
                p En todos nosotros hay una mezcla de estas tres fisiologías presentes en diferentes proporciones. La proporción predominante define si somos más de una u otra clase de individuo ante la realidad de nuestra salud y asuntos de nuestra vida cotidiana.
                
                .title Evolución Personal
                p El taller no tiene la finalidad de combatir el malestar, sino de restaurar la felicidad asumiendo una actitud cuidadosa con los instrumentos de conocimiento, de trabajo y de trascendencia, como son la mente y el cuerpo. El carácter personalizado del taller está comprometido con el instante y con la unicidad de cada participante.
                p El alma de las herramientas, así como los procedimientos de su aplicación, son individuales y se transfieren en el marco de una relación empática. La metodología es psicodinámica y asocia técnicas de la psicoterapia moderna con técnicas de culturas ancestrales y nuevos enfoques de las neurociencias de la consciencia.
                p Nuestras prácticas están centradas en la experiencia vivencial. Se busca el encuentro con el maestro interno, y el despertar ante los recursos sanadores que están de modo natural dentro de cada uno de nosotros. La función terapéutica del taller previene males psicosomáticos y contrarresta los estragos producidos por la mala administración del estrés.
                p Lo que se experimenta es un despertar de las fuerzas espirituales, la liberación de los bloqueos emocionales y una renovación de las energías vitales.
                p El fin de nuestro trabajo es asumir el liderazgo de la propia existencia atreviéndose a obtener la maestría en el manejo de la vida cotidiana.

                .message 
                    p(style="color:#e47920") "La felicidad más dulcee es estar en paz con uno mismo."
                .posts
                    a(href="#") 
                        svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 512.006 512.006' style='enable-background:new 0 0 512.006 512.006;' xml:space='preserve')
                            g
                                g
                                path(d='M388.419,475.59L168.834,256.005L388.418,36.421c8.341-8.341,8.341-21.824,0-30.165s-21.824-8.341-30.165,0    L123.586,240.923c-8.341,8.341-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251    c5.461,0,10.923-2.091,15.083-6.251C396.76,497.414,396.76,483.931,388.419,475.59z')
                        .text Previo
                    a(href="#") 
                        .text Next
                        svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve')
                            path#XMLID_222_(d='M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001  c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213  C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606  C255,161.018,253.42,157.202,250.606,154.389z')

