.overlay
nav#responsive
    #main2
        .header__list.menu
            .navbar-wrapper
                ul#menu-list.navbar-menu-list
                    li.menu-item-object-post
                        a(href="taller.html") El Taller
                    li.menu-item-object-post.menu-item-has-children
                        a(href="javascript:void(0);") Paradigmas
                        ul.sub-menu
                            li 
                                a(href="paradigmas.html") Menu 1
                            li 
                                a(href="#2") Cambio de paradigmas y auto-transformación
                    li.menu-item-object-post
                        a(href="biografia.html") Biografía
                    li.menu-item-object-post
                        a(href="contacto.html") Contacto
                //- select#menu-list-mobile
                //-     option(value="" disabled selected) Selecciona
                //-     option(value="El Taller") El Taller
                //-     option(value="Paradigmas") Paradigmas
                //-     option(value="Biografía") Biografía
                //-     option(value="Contacto") Contacto

header
    .head-bar
        //- .logo
        //-     a(href="./").logo__desktop
        //-         img(src="./images/logo_csp.svg", alt="")
        //-         | CUSTOMER SERVICE PROFILES
        //-     a(href="./").logo__mobile
        //-         img(src="./images/logo_csp.svg", alt="")
        .icons
            a(href="javascript:void(0);").icon_hamburguer
                .hamburguer

